.header { 
    position: sticky;
    inset: 0 0 auto;
    z-index: 4;
    height: var(--header);
    background-color: var(--bg);
    will-change: background-color, backdrop-filter, box-shadow;
    transition: background-color .5s ease, backdrop-filter .5s ease box-shadow .5s ease;
}
.header.fixed {
    background-color: color-mix(in srgb, var(--bg) 90%, var(--transparent));
    box-shadow: 0 0 10px color-mix(in srgb, var(--bg) 20%, var(--transparent));
    backdrop-filter: blur(10px);
}
.header svg {
    fill: var(--text-color);
    cursor: pointer;
}
.header .container {
    height: 100%;
    max-width: var(--container);
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .site {
    position: absolute;
    left: 0;
    max-width: 25vw;
}
.header .site svg {
    max-height: calc(var(--header) - 30px);
}
.header .navigation {
    position: absolute;
    right: 0;
    display: flex;
}
.header .navigation .desktop-menu,
.c-mode .sun,
.light .c-mode .moon,
.mobile-menu .close,
.mobile-menu.active .burger {
    display: none;
}
.light .c-mode .sun,
.mobile-menu.active .close {
    display: block;
}
.header .navigation svg {
    width: clamp(20px, 3vw, 30px);
    height: clamp(20px, 3vw, 30px);
}
.header .navigation .mobile-menu {
    margin-left: clamp(1.5rem, 2vw, 2rem);
}

.black-modal.active {
    z-index: 3;
    background-color: rgb(0 0 0 / .5);
}
.black-modal {
    position: fixed;
    inset: 0;
    transition: all .3s ease;
    z-index: -1;
}
.menu-dropdown {
    position: fixed;
    inset: var(--header) 0 auto;
    z-index: 4;
    background: var(--bg);
    opacity: .9;
    padding: var(--header) .5em 2em;
    text-align: center;
    transform: translateY(-100%);
    transition: .3s ease;
    overflow-y: auto;
}
.menu-dropdown.active {
    transform: none;
    box-shadow: 0 0 10px rgb(0 0 0 / .3);
}
.menu-dropdown a {
    display: grid;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    padding: .5em 1em;
}
@media only screen and (min-width: 768px) {
    .header .navigation .c-mode {
        margin-left: clamp(1.5rem, 2vw, 2rem);
    }
    .header .navigation .mobile-menu {
        display: none;
    }
    .header .navigation .desktop-menu {
        font-size: clamp(1rem, 3vw, 1.25rem);
        font-weight: 500;
        color: var(--text-color);
    
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        gap: 1em;    
        
        /* grid-auto-columns: max-content; */
        /* grid-template-columns: repeat(auto-fit, minmax(50px, 1fr)); */
        /* justify-content: end; */
    }
}
@media (any-hover: hover) {
    .header svg {
        will-change: fill;
        transition: fill .2s ease;
    }
    .header svg:hover {
        fill: var(--accent-color);
    }
    .menu-dropdown a,
    .header .navigation .desktop-menu .item {
        will-change: color;
        transition: color .2s ease;
    }
    .menu-dropdown a:hover {
        color: var(--accent-color);
    }
    .header .navigation .desktop-menu .item:hover {
        color: var(--accent-color);
    }
}	